<!DOCTYPE html>
<html>
<head>
    <!-- build:base -->
    <base href="/">
    <!-- endbuild -->
    <title>Angular 2 Messenger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css -->
    <link rel='stylesheet' href='assets/styles.css'/>
    <!-- endbuild -->
</head>
<body>
  <my-app>Loading...</my-app>

  <!-- build:vendor -->
  <!--<script src="/node_modules/systemjs/dist/system.js"></script>-->
  <script src="/public/dist/vendor.bundle.js"></script>
  <!-- endbuild -->

  <!-- build:app -->
  <script src="/public/dist/main.bundle.js"></script>

  <script>
      System.import('./app/vendor.js')
        .then(function(data){console.log(data);}, console.error.bind(console));

      System.import('boot')
              .then(null, console.error.bind(console));
  </script>
  <!-- endbuild -->
</body>
</html>
