<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular 2 Messenger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel='stylesheet' href='./assets/styles.css'/>
</head>
<body>

<my-app>Loading...</my-app>

<!-- build:vendor -->
<script src="/node_modules/systemjs/dist/system.js"></script>
<script src="/node_modules/rxjs/bundles/Rx.js"></script>
<script src="/node_modules/angular2/bundles/angular2-polyfills.min.js"></script>
<script src="/node_modules/angular2/bundles/angular2.js"></script>
<script src="/node_modules/angular2/bundles/http.js"></script>
<script src="/node_modules/angular2/bundles/router.js"></script>
<script src="/node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
<!-- endbuild -->

<!-- build:app -->
<script src="/public/dist/main.bundle.js"></script>

<script>
    System.import('boot')
            .then(null, console.error.bind(console));
</script>
<!-- endbuild -->

</body>
</html>
